@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300,400,600&display=swap');

html, body {
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-weight: 400;
}


.navbar {
  display: flex;
  position: relative;
  border: 3px solid;
}
